@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;

    background-color: #404851;
}
.line{
    color: #72787e;
}
.text{
    color: #72787e;
    margin-left: 0.5rem;
    margin-top: 1rem;
}
.left{
    display: flex;
    align-items: center; 
}
.left h1{
    color: white;
    font-family: "Pacifico", cursive;
    letter-spacing: 0.2rem;
}
.right{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    background-color: #313941;
    box-shadow: inset -1px -1px 3px 1px #67728b;
    padding: 0.5rem;
    color: white;
    border-radius: 7px;
}
.nav-btn{
     font-size: 1.2rem;
}
.right:hover{
    box-shadow: inset -1px -1px 14px 9px #67728b;
}
.container{
    padding: 4rem;
    background-color: #d2d9de;
}
h1{
    color: #38414B;
    text-align: center;
}
.cards-container{
    display: flex;
    justify-content: space-evenly;
    border-radius: 5px;
    padding: 2rem;
    flex-wrap: wrap;
}
.card{
    width: 25vw;
    background-color: white;
    padding: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    border: 7px solid #EBE7F0;
    border-radius: 5px;
    box-shadow: 1px 1px 7px 3px #cacaca ;
}
.title{
    font-size: 2rem;
}
.prices{
    margin-top: 0.2rem;
    display: flex;
    justify-content: space-around;
}
.price{
    font-size: 1.3rem;
}
.g{
    color: green;
}
.r{
    color: red;
    text-decoration: line-through;
}
.badge{
    display: inline-block; 
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
    background-color: rgb(255, 187, 0);
    padding: 0.2rem 0.5rem;
    margin-bottom: 1rem;
    text-align: center; 
    border-radius: 7px;
}
.vendor{
    font-size: 1.5rem;

}
.img{
    width: 20vw;
    height: 45vh;
    text-align: center;
    box-shadow: 0px -1px 12px #a29e9e;
}
img{
    width: 100%;
    height: 100%;
    border-radius: 3px;
}
.btns{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    
}
.buy{
    padding: 0.5rem;
    box-shadow: -1px -1px 3px 2px #c24444;
    color: white;
    background-color: red;
    border: none;
    border-radius: 7px;
    font-size: 1rem;
    text-transform: uppercase;
}
.CategoryList{
    margin: 1rem 0;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
.cat{
    width: fit-content;
    background-color: white;
    color: #6B7178;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0.2rem 1rem;
    border: none;
    border-radius: 7px;
}
.cat:hover{
    box-shadow: -1px -1px 14px 3px #67728b;
}